$highlightBlue: #cce5ec;
$lightBlue: #6ccbe3;
$medBlue: #007e9e;
$darkBlue: #005e76;
$formBlue: #e1edf1;


$ProximaNova-Bold: 'ProximaNova-Bold';
$ProximaNova-Regular: 'ProximaNova-Regular';
$ProximaNova-Semibold: 'ProximaNova-Semibold';
